@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Share Tech Mono", monospace;
	overflow-x: hidden;
}

:root {
	--prussian-blue: #0b3954ff;
	--lavender-web: #e5eafaff;
	--carrot-orange: #ec9a29ff;
	--spanish-viridian: #0c7c59ff;
}

body {
	background-color: var(--prussian-blue);
}
a {
	text-decoration: none;
	word-spacing: -5px;
	transition: border-bottom 0.2s ease;
}
a:hover {
	color: var(--carrot-orange);
}
li {
	list-style-type: none;
}
header {
	height: 12vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	padding: 1.5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	background: rgba(11, 57, 84, 0.9);
	backdrop-filter: blur(5px);
	z-index: 100;
}
header h1,
header a {
	color: var(--lavender-web);
}

.main-nav ul {
	display: flex;
}
.main-nav li {
	font-size: 1.4rem;
}
.main-nav li:not(:first-child) {
	margin-left: 1.6rem;
}

.banner {
	height: 88vh;
	margin-top: 12vh;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row-reverse;
}

.banner img {
	max-width: 70%;
}
.welcome {
	position: relative;
	left: 10rem;
	padding: 1rem;
	font-size: 3rem;
	background-color: var(--prussian-blue);
	color: var(--carrot-orange);
	text-transform: capitalize;
}
main {
	margin: 6rem 0;
}
article {
	padding: 3rem;
}
article h2 {
	color: var(--lavender-web);
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
	padding-left: 1rem;
	border-left: 5px solid var(--carrot-orange);
}
article p {
	color: var(--lavender-web);
	font-size: 1.1rem;
	line-height: 1.5;
	width: 120ch;
	margin-left: 1rem;
}

.images {
	padding: 2rem;
	columns: 2;
}

.images img {
	display: block;
	max-width: 90%;
	margin: auto;
}

section.join {
	background-color: var(--spanish-viridian);
	max-width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	padding: 2rem;
	color: var(--lavender-web);

	border-radius: 0.5rem;
}

section.join h2 {
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}
section.join p {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

form input {
	padding: 1em;
	font-size: 1.2rem;
	border: none;
	border-radius: 10px;
}
form input::placeholder {
	font-size: 1rem;
}

footer {
	margin-top: 4rem;
	padding: 2rem;
	color: var(--spanish-viridian);
	font-weight: bold;
	text-align: center;

	background-color: #082231;
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
	background: var(--lavender-web);
}
